*.pdb
.DS_Store
.DS_Store/
.env
.venv
logs/
results/
AF3/
AF3_server_inputs/
AF3_server_outputs/
manifests/
af3ppi.egg-info/
__pychache__/
*.pyc
*.pdb
*.cif
*.mmcif
.ipynb_checkpoints/
*sandbox*
inputs/*