include README.md
include LICENSE
include requirements.txt
include environment.yml
exclude *.pyc
exclude __pycache__
exclude .git
exclude .DS_Store
exclude config/*
exclude inputs/*
exclude databases/*
exclude results/*
exclude logs/*
exclude AF3_server_inputs/*
exclude AF3/*
exclude AF3server_results/*
exclude workflows/*
exclude src/*